<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="blocks/background :: background"></div>

<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Мои работы</h1>
    <p class="fs-5 text-body-secondary">С некоторыми работами Вы можете ознакомиться ниже</p>
</div>



<main>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res4.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">2D с лучами до 13мм.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res5.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект в объеме 4D, L изгиб, длина от 7 до 15мм, толщина 0.07мм.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res6.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">1D, с лучами до 10мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res7.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лучи до 12мм в натуральном эффекте, основная длина до 9мм, объем 1.5D</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res8.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Мокрый эффект в изгибе D, длина 8-15мм.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res9.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Натуральный эффект в С-изгибе, длина 7-11мм, объем 1.5D</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res10.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Мокрый эффект в объеме 2D, изгибы D и М.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res11.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лучи в натуральном эффекте с длиной 10-12мм, объем 2D.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res12.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                         <div class="card-body">
                            <p class="card-text">Аниме-эффект с лучами до 12мм.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res13.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Мокрый эффект в 2D объеме длина 7-13мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res14.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект в объеме 2.5D, длина 8-16мм, изгиб D.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res15.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Эффект стрелки, в объеме 1.5D в изгибах D и М, длина 7-12мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res16.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Аниме-эффект с лучами 10-12мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res17.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Натуральный эффект в изгибе С, объем 2D, длина 7-12мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res18.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Мокрый натуральный эффект в объеме 2D, длина 9-13, изгиб D.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res19.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Аниме-эффект с лучами 10-12мм.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res25.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект в объеме 2D, длина 8-12мм.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res26.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, длина 7-11, объем 1.5D.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res27.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, длина 7-12, объем 1.5D.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res28.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">1D в натуральном эффекте, длина 7-11мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res29.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Кукольный эффект, объем 2D, длина 7-12мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res30.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, длина 8-14мм объем 1.5D, изгибы С и D.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res31.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Натуральный эффект,  объем 1D, длина 7-10мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res32.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 1.5D, длина 7-13мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res33.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 1.5D, длина 8-13мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res34.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Натуральный эффект, объем 1D, длина 7-11мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res35.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 1.5D, длина 7-13мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res36.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 2D, длина 7-11мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res37.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 1.5D, длина 7-11мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res38.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Мокрый эффект, объем 2D, длина 7-11мм, изгибы D и М.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res39.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 1D, длина 7-12мм.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res40.png" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 1.5D, длина 7-13мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res41.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект, объем 1.5D, длина 7-12мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res42.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Экспресс-наращивание за 1.5 часа. Натуральный эффект.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res43.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">1.5D с лучами в С и L изгибах, длиной до 13мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res44.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">1D, натуральный эффект длина 7-10мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res45.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лучи в натуральном эффекте до 12мм, основная длина до 9мм, объем 1.5D.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res55.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text">Лисий эффект в объеме 2D, длина 7-12мм.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/res60.jpg" style="object-fit: cover; width:420px; height:550px" class="img-fluid" alt="resnici"/>
                        <div class="card-body">
                            <p class="card-text"> Лисий мокрый эффект в объеме 2D, длина 7-13мм.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>