<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <style>
            header {
                font-family: Garamond, sans-serif;
            }
        </style>
        <div class="fs-1 text-secondary">Elmira lashmaker</div>
    </a>

    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="fs-4 me-3 py-2 nav-link px-2 text-secondary" href="/">Главная</a>
        <a class="fs-4 me-3 py-2 nav-link px-2 text-secondary" href="/about">Обо мне</a>
        <a class="fs-4 me-3 py-2 nav-link px-2 text-secondary" href="/price">Прайс</a>
        <a class="fs-4 me-3 py-2 nav-link px-2 text-secondary" href="https://vk.me/elmira_lashmaker">Запись</a>
    </div>
</div>
</div>
